body {
    font-family:Arial, Helvetica, sans-serif;
}

.navbar {
    text-align: right;
}

.contacts {
    display: inline;
    text-align: right;
    margin: 20px;
    font-size: 20px;
}

a:link {
    color: white;
}

a:visited {
    color: lightgrey;
}

header, footer {
    border-top: 5px solid #DD4814;
    border-bottom: 5px solid #DD4814;
    background-color: black;
    color: white;
}

.align-center {
    text-align: center;
}

figure {
    margin-bottom: 60px;
}

img {
    display: block;
    margin: 20px auto;
}

.caption {
    text-align: center;
}

footer {
    margin: 20px;
    font-size: 10px;
}